
div.home-page a.profile-image img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 50%;
    display: inline;
    height: 7em;
    
}
div.home-page h1.profile-name{
    color:white;
    text-align: center;
    display: inline;
    font-size: 5em;
    
}
div.profile-header{
    margin: auto;
    background-color:darkgrey;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
div.profile-header ul#menu{
    padding: 0;
    margin: 0;
}
div.profile-header ul#menu li {
    display:inline;
    padding-right: 20px;
    align-self:center;
    font-family: 'Azeret Mono', monospace;
  }
body {
    padding:0;
    margin:0;
}