
div.home-page a.profile-image img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 50%;
    height: 10em;
    
}
div.home-page h1.profile-name{
    padding-top: 0;
    color:white;
    text-align: center;
    font-size: 5em;
    font-family: 'Anton', sans-serif;
}
div.profile-header{
    margin: auto;
    background-color:darkgrey;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
div.profile-header h1.profile-menu ul#menu{
    padding: 0;
    margin: 0;
}
div.profile-header h1.profile-menu ul#menu li {
    display:inline;
    padding-right: 20px;
    align-self:center;
    font-family: 'Azeret Mono', monospace;
    font-size: larger;
  }
div.home-page h2 p.intro {
    font-family: 'Anton', sans-serif;
}
body {
    background-color: cadetblue;
    padding:0;
    margin:0;
}