
div.profile-header{
    display: flex;
    margin: auto;
    background-color:darkgrey;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.profile-header a.profile-image img{
    /*display:block;*/
    /*
    margin-left: auto;
    margin-right: auto;
    */
    /*text-align: left;*/

    /*justify-content: left;*/
    width: auto;
    border-radius: 50%;
    /*display: inline;*/
    height: 7em;
    
}
div.profile-header h1.profile-name{
    color:white;
    /*justify-content: center;*/
    /*text-align:center;*/
    /*display: inline;*/
    font-size: 5em;
}
/*
div.profile-header h2.profile-menu ul#menu{
    float: right;
}*/
div.profile-header h2.profile-menu ul#menu li {
    display:inline;
    padding-right: 20px;
  }

div.profile-header h2.profile-menu ul#menu li a{
    text-decoration: none;
    color: white;
}

div.resume h1.desc p.description {
    font-family: 'Anton', sans-serif;
    text-align: center;
}
div.resume h1.desc p.description a{
    text-decoration: none;
    color:white;
}
div.resume a.resume-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}
body {
    background-color:darkcyan;
    padding:0;
    margin:0;
}