
span.profile-header a.profile-image{
    float: left;
}
span.profile-header a.profile-image img{
    border-radius: 50%;
    height: 5em;
    
}
span.profile-header h1.profile-name{
    color:white;
    text-align: right;
    font-size: 3em;
    
}
span.profile-header{
    margin: auto;
    background-color:darkgrey;
    padding: 0;
    margin: 0;
}
span.profile-header h2.profile-menu{
    display: flex;
    justify-content: center;
}

span.profile-header h2.profile-menu ul#menu li {
    display:inline;
    padding-right: 20px;
  }
div.resume h1.desc p.description {
    font-family: 'Anton', sans-serif;
    text-align: center;
}
div.resume a.resume-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;

}
body {
    background-color: cadetblue;
    padding:0;
    margin:0;
}