
div.profile-header a.profile-image img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-radius: 50%;
    display: inline;
    height: 7em;
    
}
div.profile-header h1.profile-name{
    color: #7fff00;
    text-align: center;
    display: inline;
    font-size: 5em;
    
}
div.profile-header{
    margin: auto;
    background-color: black;
    padding: 0;
    margin: 0;
}
div.profile-header h2.profile-menu ul#menu li {
    display:inline;
  }
body {
    padding:0;
    margin:0;
}