
div.profile-header a.profile-image img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: inline;
}
div.profile-header h1.profile-name{
    color: #7fff00;
    display: inline;
    vertical-align: middle;
    
}
div.profile-header{
    margin: auto;
}
ul#menu li {
    display:inline;
  }